GENIE_JWT_SECRET=''
GENIE_ADMIN_EMAIL='you@example.com'
GENIE_ADMIN_PASSWORD=''

MONGO_URL=''
DB_NAME=genie_sidekick
CORS_ORIGINS='https://genie.wah-lah.com,https://wah-lah.com,https://www.wah-lah.com,http://localhost:5173'

CEREBRAS_API_KEY=''
CEREBRAS_MODEL='qwen-3-235b-a22b-instruct-2507'

VENICE_API_KEY=''
VENICE_MODEL='venice-uncensored'

OLLAMA_BASE_URL=''
OLLAMA_MODEL='dolphin-mixtral:8x7b'
